/*type selector*/
body{
  text-align: center;
  background-color: #722688;
  margin:0pt;
}

/*type selector*/
h1{
  color: #ffffff;
  font-size: 40pt;
  font-family: cursive;
}

h2{
  color: #ffffff;
  font-size: 40pt;
  font-family: cursive;
}

p{
  color:#ffffff;
  font-size: 21pt;
  font-family: cursive;

}

li{
  color:#ffffff;
  font-size: 17pt;
  font-family: cursive;
}

/*class selector*/
.selection{
  color:#3f8bd1
}
#para1{
  color:#3f8bd1
}



/*id selector*/
